.box1{
   border: black 1px solid;
}
.box2{
   border: green 1px solid;
}
.box3{
   border: red 1px solid;
}
.box4{
   border: yellow 1px solid;
}
.box5{
   border: purple 1px solid;
}
.box6{
   border: black 1px solid;
}
html{
   scroll-behavior: smooth;
}